---
inputs: [
    { 
      name: "login", 
      lableTitle: "Логин", 
      type: "text" 
    },
    { 
      name: "password", 
      lableTitle: "Пароль", 
      type: "password" 
    },
  ]
---
<html>
  <head>
    <link rel="stylesheet" href="../../styles/main.scss" />
    <link rel="stylesheet" href="./style.scss" />
    <script src="./login.js" type="module"></script>
  </head>
  <body>
    <main>
      <section class="login">
        <form>
          <h3>Авторизация</h3>
          {{#each inputs as |input|}}
            {{> input/input name=input.name lableTitle=input.lableTitle type=input.type }}
          {{/each}}
          {{> button/button type="submit" contentValue="Вход" }}
          {{> aLink/a aLintHref="../signUp/index.hbs" aLinkTitle="Регистрация" }}
        </form>
      </section>
    </main>
  </body>
</html>