<div class="profile-avatar-block">
  <img src="{{avatarUrl}}" width="100px">
  <div class="profile-avatar-block__overlay">
    <span class="profile-avatar-block__overlay__text">Изменить</br>аватар</span>
  </div>
</div>
