@import "@styles/variables.scss";

$profile-avatar-width: 100px;

.profile-avatar-block {
	height: $profile-avatar-width;
	width: $profile-avatar-width;
	background-color: $light-blue;
	border-radius: calc($profile-avatar-width * 0.5);
	background-image: url("../../../static/icons/user-circle.svg") !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: 60px 60px;
	cursor: pointer;

	&__overlay {
		height: 100%;
		width: 100%;
		background-color: #757373;
		opacity: 0;
		border-radius: calc($profile-avatar-width * 0.5);
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;

		&__text {
			text-align: center;
		}
	}
}

.profile-avatar-block:hover {
	.profile-avatar-block__overlay {
		opacity: 0.5;
		transition: opacity 0.5s linear;
	}
}
