@import "@styles/variables.scss";

$profile-avatar-width: 100px;

.profile-avatar-block {
	position: relative;
	height: $profile-avatar-width;
	width: $profile-avatar-width;
	background-color: $light-blue;
	border-radius: calc($profile-avatar-width * 0.5);
	overflow: hidden;
	cursor: pointer;

	&__no-avatar {
		background-image: url("../../../static/icons/user-circle.svg") !important;
		background-position: center !important;
		background-repeat: no-repeat !important;
		background-size: 60px 60px;
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #757373;
		opacity: 0;
		border-radius: calc($profile-avatar-width * 0.5);
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;

		&__text {
			text-align: center;
		}
	}
}

.profile-avatar-block:hover {
	.profile-avatar-block__overlay {
		opacity: 0.7;
		transition: opacity 0.5s linear;
	}
}
