@import "@styles/variables.scss";

.chat-item__content__last-message {
  color: $grey;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 20px;
  width: 205px;

  b {
    color: black;
  }
}
