<html>
  <head>
    <link rel="stylesheet" href="../../styles/main.scss" />
  </head>
  <body>
    <section class="error-section">
      <div class="error-content">
        <h1>500</h1>
        <h2>Упс! Ошибка сервера </h2>
        {{> aLink/a aLintHref="/" aLinkTitle="Вернуться к чатам" }}
      </div>
    </section>
  </body>
</html>