@import url("variables");

@font-face {
	font-family: $font-family-bold;
	src: url("../../static/fonts/Inter-Bold.ttf");
}

@font-face {
	font-family: $font-family-light;
	src: url("../../static/fonts/Inter-Light.ttf");
}

@font-face {
	font-family: $font-family-medium;
	src: url("../../static/fonts/Inter-Medium.ttf");
}

@font-face {
	font-family: $font-family-regular;
	src: url("../../static/fonts/Inter-Regular.ttf");
}
