$light-blue: #E7F6FF;
$green-color: #9DD458;

$main-background-color: $light-blue;

$font-family-regular: "Inter-Regular";
$font-family-medium: "Inter-Medium";
$font-family-light: "Inter-Light";
$font-family-bold: "Inter-Bold";

$step: 8px;