$light-blue: #e7f6ff;
$green: #9dd458;
$grey-blue: #dce1e6;
$grey: #999999;
$ligth-grey: #f8f8f8;
$red: #ff6d4d;

$main-background-color: $light-blue;

$font-family-regular: "Inter-Regular";
$font-family-medium: "Inter-Medium";
$font-family-light: "Inter-Light";
$font-family-bold: "Inter-Bold";

$step: 8px;
