$light-blue: #e7f6ff;
$green: #9dd458;

$main-background-color: $light-blue;

$font-family-regular: "Inter-Regular";
$font-family-medium: "Inter-Medium";
$font-family-light: "Inter-Light";
$font-family-bold: "Inter-Bold";

$step: 8px;
