<div class="profile-block">
	<div class="profile-block__info">
		<div class="profile-block__avatar"></div>
		<div class="profile-block__name">
			<span>{{profile.firstName}}</span>
			<span>{{profile.secondName}}</span>
		</div>
	</div>
	{{{buttonLogout}}}
</div>
