@import "@styles/variables.scss";

$profile_avatar_width: 60px;

.profile-block {
	margin-top: auto;
	height: 80px;
	padding: 10px 20px;
	display: flex;
	border-top: 1px solid $grey-blue;
	cursor: pointer;

	&__info {
		display: flex;
		gap: 20px;
	}

	&__avatar {
		height: $profile_avatar_width;
		width: $profile_avatar_width;
		border-radius: calc($profile_avatar_width * 0.5);
		overflow: hidden;

		&__no-avatar {
			background-image: url("../../../static/icons/user-circle.svg") !important;
			background-position: center !important;
			background-repeat: no-repeat !important;
			background-size: 60px 60px;
		}
	}

	&__name {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	button {
		margin-left: auto;
		background-image: url("../../../static/icons/exit.svg") !important;
		background-position: center !important;
		background-repeat: no-repeat !important;
		background-size: 35px 35px;
	}
}
