<div id="changePasswordModal" class="modal">
  <div class="modal-content">
    <h2>Изменить пароль</h2>
    <form id="changePasswordForm">
      {{{oldPassword}}}
      {{{newPassword}}}
      {{{savePasswordButton}}}
    </form>
  </div>
</div>
