<div class="chat-item">
  <div class="chat-item__avatar">
  </div>
  <div class="chat-item__content">
    <span class="chat-item__content__header">
      {{chatHeader}}
    </span>
    {{{lastMessage}}}
  </div>
  <div class="chat-item__info">
    {{{lastMessageDate}}}
    {{{unreadMessages}}}
  </div>
</div>
