<section class="content-section">
  <div class="chats">
    <div class="chats__list">
      <div class="chats__list__search">
        {{{searchInput}}}
      </div>
      {{{chats}}}
      {{{profileBlock}}}
    </div>
    <div class="chats__messages">
      сообщения
    </div>
  </div>

</section>
