@import "@styles/variables.scss";

$profile_avatar_width: 60px;

.chats {
  display: flex;
  flex-direction: row;
  height: 100%;

  .chats__list {
    display: flex;
    flex-direction: column;
    order: -1;
    width: 380px;

    &__search {
      height: 80px;
      padding: 20px 10px;
      display: flex;
      border-bottom: 1px solid $grey-blue;
    }

    &__profile-block {
      height: 80px;
      padding: 10px 20px;
      display: flex;

      &__avatar {
        height: $profile_avatar_width;
        width: $profile_avatar_width;
        border-radius: calc($profile_avatar_width * 0.5);
        background-image: url("../../../static/image/test_avatar.png") !important;
      }
    }
  }

  .chats__messages {
    flex: 1;
  }
}

.chats::before {
  content: "";
  border: 1px solid $grey-blue;
  align-self: stretch;
}
