<div id="uploadChatAvatarModal" class="modal">
	<div class="modal-content">
		<h2>Загрузите файл</h2>
		<form id="uploadChatAvatarForm">
			{{{takeFile}}}
			{{{saveAvatarButton}}}
		</form>
	</div>
</div>
