<div id="addUsersToChatModal" class="modal">
	<div class="modal-content">
		<h2>Добавить пользователей</h2>
		<form id="addUsersToChatForm">
			{{{login}}}
			{{{searchUsersButton}}}
		</form>
		{{{users}}}
	</div>
</div>
