<div id="addUsersToChatModal" class="modal">
	<div class="modal-content">
		<h2>Добавить пользователей</h2>
		<form id="addUsersToChatForm">
			<div class="search-block">
				{{{login}}}
				{{{searchUsersButton}}}
			</div>
			{{{users}}}
		</form>
	</div>
</div>
