<html>
  <head>
    <link rel="stylesheet" href="../../styles/main.scss" />
  </head>
  <body>
    <main>
      <section class="error-section">
        <div class="error-content">
          <h1>404</h1>
          <h2>Упс! Такой страницы нет</h2>
          {{> aLink/a aLintHref="/" aLinkTitle="Вернуться к чатам" }}
        </div>
      </section>
    </main> 
  </body>
</html>