<div id="deleteUsersFromChatModal" class="modal">
	<div class="modal-content">
		<h2>Удалить пользователей</h2>
		<form id="deleteUsersFromChatForm">
			{{{searchButton}}}
		</form>
		{{{users}}}
	</div>
</div>
