---
inputs: [
    { 
      name: "login", 
      lableTitle: "Логин", 
      type: "text" 
    },
    { 
      name: "email", 
      lableTitle: "Почта", 
      type: "text" 
    },
    { 
      name: "firstName", 
      lableTitle: "Имя", 
      type: "text" 
    },
    { 
      name: "lastName", 
      lableTitle: "Фамилия", 
      type: "text" 
    },
    { 
      name: "phone", 
      lableTitle: "Телефон", 
      type: "tel" 
    },
    { 
      name: "password", 
      lableTitle: "Пароль", 
      type: "password" 
    },
    { 
      name: "password", 
      lableTitle: "Повторите пароль", 
      type: "password" 
    },
  ]
---
<html>
  <head>
    <link rel="stylesheet" href="../../styles/main.scss" />
    <link rel="stylesheet" href="./style.scss" />
    <script src="./signUp.js" type="module"></script>
  </head>
  <body>
    <section class="sign-up">
      <form>
        <h3>Регистрация</h3>
        {{#each inputs as |input|}}
          {{> input/input name=input.name lableTitle=input.lableTitle type=input.type }}
        {{/each}}
        {{> button/button type="submit" contentValue="Регистрация"}}
        {{> aLink/a aLintHref="../login/index.hbs" aLinkTitle="Уже есть профиль?" }}
      </form>
    </section>
  </body>
</html>