@import "../../styles/variables.scss";

.sign-up {
	width: 100%;
	background-color: white;
	box-sizing: border-box;
	border-radius: calc($step * 2.5);
	font-size: calc($step * 2);
	padding: calc($step * 4) calc($step * 5);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	overflow: auto;
}
